<!DOCTYPE html>
{% extends "home.html"%}
{% block title %}Reset Password{% endblock %}
{% block content %}
{% load static %}
<div class="continer">
    <form class="form" method="post" id="form">
        {% csrf_token %}
        <h4></h4>
        <h4>Forget Password</h4>
        <hr>
        {% if messages %}

        {% for result in messages %}
        {% if result.tags == "error" %}
        <div class="alert alert-danger">
            {{ result }}
        </div>
        {% else %}
        <div class="alert alert-success">
            {{ result }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row" style="margin-top: 2em; margin-bottom: 10em; align-items: center;">
            <div class="col-6">
                <img src="{% static 'images/forgot-password.gif' %}" alt="logo" height="500px">
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="row" style="align-items: center;">
                        <div class="col-2">
                            <label for="resetEmail" style="padding-top: 0.2em;">
                                <h5>Email:</h5>
                            </label>
                        </div>
                        <div class="col-10">
                            <input type="email" name="resetEmail" class="form-control" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 2em;">Send Password Reset
                        Link</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}