@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow");

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(
    rgba(168, 230, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );
  overflow-x: hidden;
  background-repeat: no-repeat;
}
