<!DOCTYPE html>
{% extends 'home.html' %}
{% block title %}Admin Login{% endblock %}
{% block content %}
{% load static %}

<!-- css file  -->

<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css'%}" />

<div class="container">
    {% if messages %}

    {% for result in messages %}
    {% if result.tags == "error" %}
    <div class="alert alert-danger">
        {{ result }}
    </div>
    {% else %}
    <div class="alert alert-success">
        {{ result }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <h2 class="text-center text-dark mt-5">Admin Login</h2>
                <form class="card-body cardbody-color p-lg-5" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        <img src="static/images/admin.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="100px"
                            alt="profile">
                    </div>
                    <div class="mb-3">
                        <input type="text" size="300px" class="form-control" id="Username" aria-describedby="emailHelp"
                            placeholder="Username" name="adminUsername" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            name="adminPass" required>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------ Admin User List ------------------------------------------------------- -->

<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h3>Our Creative <span> Team</span></h3>
            <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
            <div class="line"></div>
        </div>
    </div>
</div>
<div class="row justify-content-center">

    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <!-- Team Thumb-->
            <div class="advisor_thumb"><img src="{% static 'images/rahat-avater.png' %}" alt="">
                <!-- Social Info-->
                <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
                <h6><b>Md. Sabik Alom Rahat</b></h6>
                <p class="designation">Full Stack Developer</p>
            </div>
        </div>
    </div>

    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <!-- Team Thumb-->
            <div class="advisor_thumb"><img src="/static/images/humaira-avatar.png" alt="">

                <!-- Social Info-->
                <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
                <h6><b>Humaira Tabassum khan</b></h6>
                <p class="designation">UI Designer</p>
            </div>
        </div>
    </div>

    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <!-- Team Thumb(Image)-->
            <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                <!-- Social Info-->
                <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
                <h6><b>Kawshik Das</b></h6>
                <p class="designation">Junior Developer</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}