<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/feedback.css' %}"/>

</head>
<body>
    <div id="wrap">
        <h1> Send a massage </h1>
        <br><br><br>
        <div id="form-wrap">
            <form >
                <p> Hello </p>
                <label for="email"> Your massage </label>   
                <textarea name="massage" id="massage" value="Your Massage" cols="30" rows="10"></textarea>
                <p> Best, </p>
                <label for="name">Name</label>
                <input type="text" name="name" value="" id="name">
                <label for="email">Email:</label>
                <input type="text" name="name" value="" id="email">

                <input type="submit" name="submit" value="now i send thanks" >

            </form>

        </div>
    </div>
</body>
</html>