<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <!-- css file  -->

        <link rel="stylesheet" type="text/css" href="{% static 'css/post_card.css'%}" />

        <!-- <header>
            <h1>Frosted glass card overlay</h1>
            <p>Frosted glass effect using CSS3 filter property. The card's title and description slide up on hover,
                blurring the card's background behind them.</p>
        </header> -->
        <main>
            <div class="card"  style="background-image: url('/static/images/3.jpg');">
                <div class="info">
                    <h1 class="title">Product name</h1>
                    <p class="description">Location
                    </p>
                </div>
            </div>
        </main>
    </div>

</body>

</html>