<!DOCTYPE html>
{% extends 'home.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
{% load static %}

<!--css file link-->
<link rel="stylesheet" type="text/css" href="{% static 'css/view_profile.css' %}">

<div class="container" style="margin-bottom: 10em;">
  <div class="main-body" style="margin-top: 2em;">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="192">
              <div class="mt-3">
                <h4>John Doe</h4>
                <p class="text-secondary mb-1">Add your Bio.....</p>
                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                <button class="btn btn-outline-primary">Message</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush" style="padding: 0.2em;">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" />
                &emsp;Whatsapp
              </h6><span class="text-secondary"><a target="_blank"
                  href="https://wa.me/8801647629698/?text=urlencodedtext%22">https://wa.me/8801647629698</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <img src="{% static 'images/messenger.png' %}" alt="messenger" />
                &emsp;Messenger
              </h6><span class="text-secondary"><a target="_blank"
                  href="https://m.me/sabikrahat">https://m.me/sabikrahat</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <img src="{% static 'images/telegram.png' %}" alt="telegram" />
                &emsp;Telegram
              </h6>
              <span class="text-secondary"><a target="_blank"
                  href="https://t.me/sabikrahat">https://t.me/sabikrahat</a></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Kenneth Valdez
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                fip@jukmuh.al
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                (239) 816-9029
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                (320) 380-4539
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Bay Area, San Francisco, CA
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a href="{% url 'edit-profile' %}"><button type="button" class="btn btn-primary">Edit
                    Profile</button></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100" style="align-items: center;">
              <div class="card-body">
                <img src="{% static 'images/nid-card-front.jpg' %}" height="200px" width="360px"
                  style="align-items: center;" alt="lost and found image" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card h-100" style="align-items: center;">
              <div class="card-body">
                <img src="{% static 'images/nid-card-back.png' %}" height="200px" width="360px"
                  style="align-items: center;" alt="lost and found image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}